.App {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  background-color: whitesmoke;
}
li{
  list-style: none;
  display: inline-block;
  padding: 20px;
  margin: 0 25px;
  color: whitesmoke;
}
nav {
  background-color: #92b2ba;
}

#banner {
  width: 100%;
  height: 350px;
  background-image: url(https://i.imgur.com/BrtVHqy.png);
  background-size: cover;
  display: flex;
  justify-content: flex-end;

}
#text {
  text-align: right;
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: center;
}
#text h1 {
  margin: 0;
  color: #92b2ba;
  font-size: 60px;
  font-weight: bold;
}
#text h5 {
  margin: 5px;
  background-color: whitesmoke;
  padding: 5px;
  text-align: center;
  color: #f0a8bb;
  
}
.tile {
  width: 90%;
}
#outer-div {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.info {
  text-align: left;
  margin-left: 15px;
}
span {
  float: right;
  margin-right: 15px;
}
.container {
  width: 90%;
}
